*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content {
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-auto-rows: 1fr;
    height: 100vh;
}

.main{
    grid-column: 2/-1;
    padding: 1rem; 
    display: flex;
    flex-direction: column;
    gap: 0.25rem;         
}

.aside{
    grid-column: 1/2;
    background-color: rgb(0,0,0,0.03);
    padding: 1rem;
}

.card{
    display: flex;
    border-radius: 0.25rem;
    /* gap: 0.5rem; */
    border-right: none;
    border-left: none;
    border: 1px solid gray;
    /* border-bottom: 1px solid gray; */
    /* padding-top: 1rem;
    padding-bottom: 1rem; */
    padding: 1rem;
    justify-content: space-between;
    
}

.btn{
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border:none;
    /* font-size: 1.2rem; */
    border-radius: 0.25rem;
}
.btn-primary{
    background-color: #1992d4;
    color:white;
}
.btn-danger{
    background-color: transparent;
    color: tomato;
}

dialog{
    width: 80vh;
    height: 45vh;
    margin:auto;
    border:1px solid grey;
    border-radius: 0.5rem;
}

.close{
    align-self: end;
    font-size: 1rem;
}

.group{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

#dueDateInput{
 width: 40%;
}

.submit{
    /* width: 40%; */
    align-self:end;
}

.container{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    padding: 1rem;
}

#prioritySelect{
    width: 40%;
}

::backdrop {
    background-image: linear-gradient(
      45deg,
      magenta,
      rebeccapurple,
      dodgerblue,
      green
    );
    opacity: 0.75;
  }

