*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    position: relative;
}

.content {
    display: grid;
    grid-template-columns: minmax(180px,2fr) 6fr 2fr;
    grid-auto-rows: 1fr;
    height: 100vh;
}
.delete-icon{
    height: 1rem;
    width: auto;
}
nav{
    display: flex;
    justify-content: space-between; 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    color: white;
    font-weight: bolder;
    font-size: 1.3rem;
    background-color:rgb(0,0,0,0.7);
}

.main{
    grid-column: 2/3;
    padding: 1rem; 
    display: flex;
    flex-direction: column;
    gap: 0.25rem;         
}

.aside{
    grid-column: 1/2;
    background-color: rgb(0,0,0,0.03);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.25rem;
    font-weight: bolder;
}

.card{
    display: flex;
    border-radius: 0.25rem;
    border-right: none;
    border-left: none;
    padding: 1rem;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    
} 

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.2);
  }


  .cards{
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

.btn{
    cursor: pointer;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border:none;
    border-radius: 0.25rem;
}
.btn-primary{
    background-color: #1992d4;
    color:white;
}
.btn-danger{
    background-color: transparent;
    color: tomato;
}

.btn-silent{
    background-color: transparent;
}

.icon{
    height: 1rem;
    width: 1rem;
}

input{
    height: 2rem;
    padding-left: 1rem;
    border: 1px solid rgb(0,0,0,0.1);
    font-size: 1.2rem;
}

.sub-title{
    padding-top: 6rem;
    padding-bottom: 1rem;
    margin-left: -1rem; 
    color:#008b45;
}

.todo-card{
    border-bottom: 1px solid rgb(0,0,150,0.3);
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label{
    font-size: 1rem;
    color: rgb(0,0,0,0.7);
}

select{
    height: 2rem;
    padding-left: 1rem;
    border: 1px solid rgb(0,0,0,0.1);
    font-size: 1.2rem;
}

.menu{
    border: 1px solid rgb(0,0,0,0.1);;
    background-color: white;
    height: auto;
    width: 10rem;
    position:absolute;
    top:2rem;
    right:2rem;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 0px 0px  rgb(0,0,0,0.1);
}

label{
    font-size: 0.75rem;
}

.focus:hover{
    background-color: rgb(0,0,0,0.7);
    color: tomato;
}

.menu>*{
    background-color: #fff;
    width: 100%;
}

.menu > button{
    border-bottom: 1px solid rgb(0,0,0,0.1);
    border-radius: 0%;
}

.hamburger{
    height: 1.25rem;
    width:1.5rem;
    cursor: pointer;
    color: white;
}

dialog{
    width: 80vh;
    height: 60vh;
    margin:auto;
    border:1px solid grey;
    border-radius: 0.5rem;
    overflow: hidden;
}

.close{
    align-self: end;
    font-size: 1rem;
}

.group{
    width: 60%;
    padding: 0.5rem;
    display: flex;  
    flex-direction: row;
    /* gap: 1rem; */
    align-items: center;
    justify-content: space-between;
}

#dueDateInput{
 width: 40%;
}

.submit{
    /* width: 40%; */
    align-self:end;
}

.text-input{

}

.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.2rem;
    padding: 1rem;
}

.actionBar{
    display: flex;
    justify-content: space-between;
}


#prioritySelect{
    width: 40%;
}

::backdrop {
    background-image: linear-gradient(
      45deg,
      magenta,
      rebeccapurple,
      dodgerblue,
      green
    );
    opacity: 0.75;
  }

.tick{
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
}

.error{
    font-size: 0.8rem;
    color:tomato;
    padding-top: 0.1rem;
}

#importTasks{
    height: 30wh;
}

#importTaskSelect{
    height: 90%;
}

.cardLeft{
    display: flex;
    gap: 1rem;
}

.invalid{
    border-color:tomato;
}

.carousel{
    width: 60rem;
    overflow: hidden;
    display: flex;
    align-content: center;
}

.carousel-img{
    height: 50%;
    width:auto ;
}


.wrapper{
    margin:auto;
    width: 80vw;
    overflow: hidden;
    position:relative;
    display: flex;
    justify-content: center;
    justify-self: center;
}

.arrow{
    position: absolute;
    top:25%;
    right:0%;
    height: 2rem;
}

.arrow-left{
  position: absolute;
  top: 25%;
  left:0%; 
  height: 2rem; 
}
.flex-column {
    display: flex;
    flex-direction: column;
}

.flex{
    display: flex;
}

.text-sm{
    font-size: 0.75rem;
    color: rgb(0,100,0,0.7  5);
}

.align-self-center{
    align-self: center;
}